{#{% extends "main/base.html"%}#}
{##}
{#{% block title%}#}
{#{% endblock %}#}
{##}
{#{% load crispy_forms_tags %}#}
{##}
{#{% block content %}#}
{#	<div class="content-section">#}
{#		<form method="POST" class="form-group">#}
{#			{% csrf_token %}#}
{#			{{form|crispy}}#}
{#			<button type="submit" class="btn btn-success">Login</button>#}
{#		</form>#}
{#	</div>#}
{#{% endblock %}#}


{% extends "main/base.html"%}

{% block title%}
Login
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="content-section">
        <form method="POST" class="form-group">
            {% csrf_token %}
            {{form|crispy}}
            <div class="d-flex align-items-center justify-content-between mt-3">
                <button type="submit" class="btn btn-success">Login</button>
                <span>Do not have an account? <a href="{% url 'register' %}">Register</a></span>
            </div>
        </form>
    </div>
{% endblock %}

